# ==========================================
# 1. Ambientes Virtuais (Essencial)
# ==========================================
# Ignora a pasta onde as bibliotecas (PyTorch, Transformers) estão instaladas.
.venv/
venv/
.venv_linux
.venv_nvidia
env/
.env

# ==========================================
# 2. Pesos, Modelos e Checkpoints (CRÍTICO)
# ==========================================
# Ignora os arquivos de treinamento temporários que são gigantescos
training/checkpoints_salvos/

# Ignora a pasta de modelos finais gerados (os arquivos .safetensors pesam muito)
models/lora_model_saude/

# ==========================================
# 3. Caches do Python e Hugging Face
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.huggingface/


# ==========================================
# 4. Configurações de IDE e Sistema Operacional
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db